{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
{% include 'admin/nav.html.twig' %}

    <h1>Ajouter un utilisateur</h1>
    <a href="{{ path('app_admin_user_index') }}" role="button" class="btn btn-success m-3">Revenir à la liste</a>

    {{ include('admin/user/_form.html.twig') }}

{% endblock %}
