{% extends 'base.html.twig' %}

{% block title %}New Color{% endblock %}

{% block body %}
{% include 'admin/nav.html.twig' %}

    <h1>Ajouter une nouvelle couleur</h1>
    <a href="{{ path('app_admin_color_index') }}" role="button" class="btn btn-success m-3">Revenir à la liste</a>

    {{ include('admin/color/_form.html.twig') }}

{% endblock %}
