{% extends 'base.html.twig' %}

{% block title %}New Brand{% endblock %}

{% block body %}
{% include 'admin/nav.html.twig' %}

    <h1>Ajouter une marque</h1>

    {{ include('admin/brand/_form.html.twig') }}

    <a href="{{ path('app_admin_brand_index') }}">Revenir à la liste</a>
{% endblock %}
